body {
    background-color: lightblue;
    /* background-image: url("../img/black-and-white-blur-document-164821.jpg");*/
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

div.edits:hover{
    position:relative;
    color: green;
}
div#goHere{
    position:relative;
    width:250px;
}

hr{
    border-bottom: 1px solid #000;
}
/*
div.lar{
    position:relative;
    width: 750px;
    float: right;
}

*/
div.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

div.row{
    margin-bottom:10px;
    
}

@media (min-width: 1200px){
div.container {
    max-width: 1140px;
   
}
}
div.col-8{
  position:relative;
}

div#staff{
  position:relative;
}
h3{
  text-align:center;
}
input#notesHere{
  position:relative;
  left:38%;
}
h3#legend{
  text-align: left;
}
/*==========================================================================*/
                    /*The song arrows for Nocturne of Shadow*/

.arrow-up {
    width: 0; 
    height: 0; 
    position: relative;
    left: 28%;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #f00;
    position: relative;
    top: 19%;
    left:5%;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid green;
    position:relative;
    left:25%;
  }
  .arrow-rightTwo{
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid green;
    position:relative;
    left:25%;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    border-right:20px solid blue; 
  }

  .arrow-leftTwo{
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    
    border-right:20px solid blue; 
  }
  .arrow-rightThree{
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    
    border-left: 20px solid green;
    position:relative;
    left:25%;
  }


  div.up{
      border:solid;
      width: 33px;
      height: 30px;
      border-radius: 40px;
      position:relative;
      z-index:5;
      
      bottom: 26px;
      float:left;
      margin-right: 30px;
      margin-left: 36px;
  }

  div.down{
    border:solid;
    width: 33px;
    height: 30px;
    border-radius: 40px;
    position:relative;
    z-index:5;
    left: 77%;
    bottom: 23%;
}

div.left{
    border:solid;
    width: 33px;
    height: 30px;
    border-radius: 40px;
    position:relative;
    z-index:5;
    bottom: 40%;
    left: 5%;
}

div.leftTwo{
    border:solid;
    width: 33px;
    height: 30px;
    border-radius: 40px;
    position:relative;
    z-index:5;
    bottom: 49%;
    left: 50%;
}

div.right{
    border:solid;
    width: 33px;
    height: 30px;
    border-radius: 40px;
    position:relative;
    z-index:5;
    bottom: 57%;
    left: 15%;
}

div.rightTwo{
    border:solid;
    width: 33px;
    height: 30px;
    border-radius: 40px;
    position:relative;
    z-index:5;
    bottom: 66%;
    left: 25%;
}

div.rightThree{
    border: solid;
    width: 33px;
    height: 30px;
    border-radius: 40px;
    position: relative;
    z-index: 5;
    bottom: 75%;
    left: 63%;
}
/*==========================================================================*/