body {
    background-color: lightyellow;
    /* background-image: url("../img/black-and-white-blur-document-164821.jpg");*/
}
div {
    border-style:solid;
    height: 150px;
}
hr {
    position: relative;
    top: 29px;
}






.arrow-up {
    position:relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid #f00;
}

.arrow-down {
    position:relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

.arrow-right {
    position:relative;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 20px solid #f00;
}

.arrow-left {
    position:relative;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-right:20px solid #f00;
}

/* triangle sizes: 10, 60, 20, 5px for border*/







