body {
    background-color: lightblue;
    /* background-image: url("../img/black-and-white-blur-document-164821.jpg");*/
}
div {
    position:relative;
    border-style:solid;
    height: 150px;
    width: 450px;
}
hr {
    position: relative;
    top: 29px;
}






.arrow-up {
    position:relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid white; /*These need to be white at start then yellow when selected */
}

.arrow-down {
    position:relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid white; /*These need to be white at start then yellow when selected */
}

.arrow-right {
    position:relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid white; /*These need to be white at start then yellow when selected */
}

.arrow-left {
    position:relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid white; /*These need to be white at start then yellow when selected */
}

/* triangle sizes: 10, 60, 20, 5px for border*/







